<li class="PostList-item">
  
  {{/* Set variables for image data and settings */}}
  {{ $page := . }}
  {{ $params := .Params }}
  {{ $imageSrc := .Params.image }}
  {{ $imageAlt := .Params.image_alt }}
  {{ $imageRatio := .Params.image_ratio }}
  {{ $imageWidth := "582" }}
  {{ $imageHeight := "774" }}
  {{ $imageQuality := "90" }}
  {{ $imageSm := "500" }}
  {{ $imageMd := "710" }}
  {{ $imageLg := "1000" }}
  {{ $imageXl := "1400" }}
  {{/* If browser is $sizesMinWidth or above */}}
  {{ $sizesMinWidth := "768px" }}
  {{/* Make images $sizesSize */}}
  {{ $sizesSize := "25vw" }}
  {{/* Else make images $sizesElse */}}
  {{ $sizesElse := "100vw" }}
  {{/* Options:
  1. eager - images above the fold
  2. lazy - images below the fold
  */}}
  {{ $loading := "lazy" }}
  {{/* Options:
  1. auto - decode for images above the fold
  2. async - defer decoding for lazy loaded images
  */}}
  {{ $decoding := "async" }}

  {{ partial "image.html"
    (dict
      "page" $page
      "params" $params
      "imageSrc" $imageSrc
      "imageAlt" $imageAlt
      "imageRatio" $imageRatio
      "imageWidth" $imageWidth
      "imageHeight" $imageHeight
      "imageQuality" $imageQuality
      "imageSm" $imageSm
      "imageMd" $imageMd
      "imageLg" $imageLg
      "imageXl" $imageXl
      "sizesMinWidth" $sizesMinWidth
      "sizesSize" $sizesSize
      "sizesElse" $sizesElse
      "decoding" $decoding
      "loading" $loading
    )
  }}


  <h2 class="PostList-itemTitle">
    <a class="PostList-itemLink" href="{{ .Permalink }}"> {{ $imageAlt }}</a>
  </h2>
</li>