/*------------------------------------*\
    #ABSTRACTS: COLOR
\*------------------------------------*/

:root {
    --color-dark: #222;
    --color-light: #ececec;
    --color-white: #fff;
    --color-brand: #363636;
}