<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="all,follow">
  {{ with .Site.LanguageCode }}
  <meta http-equiv="content-language" content="{{ . }}" />
  {{ end }}
  <!-- Title -->
  {{ if .IsHome -}}
  <title>{{ .Site.Title }}</title>
  {{- else -}}
  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  {{- end }}
  <meta name="title" content="{{ if .IsHome -}}{{ .Site.Title }}{{- else -}}{{ .Title }} &middot; {{ .Site.Title }}{{- end }}">
  <!-- Description -->
  <meta name="description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ $.Site.Params.Description }}{{ end }}">
  {{ with .Params.keywords  }}
  {{ $items := delimit . ", " }}
  <meta name="keywords" content="{{ $items | lower }}">
  {{ else }}
    <meta name="keywords" content="{{ .Site.Params.keywords  | lower }}">
  {{ end }}
  <!-- Open Graph -->
  <meta property="og:title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}">
  <meta property="og:description" name="description" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Params.description }}{{ if eq $isHomePage false }} - {{ .Description }}{{ end }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:type" content="website" />
  <!-- Use Cloudinary featured image if it exists in file frontmatter -->
  {{ if isset .Params "image" }}
    <meta property="og:image" content="/images/{{ .Params.image }}">
  {{ else }}
    <!-- If Page Resources exist, use those instead --> 
    {{ with .Resources.GetMatch "{*.*,*.jpg,*.png,*.jpeg}" }}
      <meta property="og:image" content="{{ (. | fingerprint).RelPermalink }}">
    {{ else }}
      <!-- If neither featured image or Page Resources exist, use Card image from Global Resources (assets/images) -->
      {{ with resources.Get "images/card.png" }}
        <meta property="og:image" content="{{ (. | fingerprint).RelPermalink }}">
      {{ end }}
    {{ end }}
  {{ end }}
  <!-- Twitter -->
  {{ if not .Site.Params.Twitter.hide }}
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ .Permalink }}">
    <meta property="twitter:title" content="{{ if .IsHome -}}{{ .Site.Title }} &middot; {{ $.Site.Params.strapline }}{{- else -}}{{ .Title }} &middot; {{ .Site.Title }} {{- end }}">
    <meta property="twitter:description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ $.Site.Params.Description }}{{ end }}">
    {{ with .Site.Params.twitter.handle }}
      <meta property="twitter:site" content="{{ . }}">
      <meta property="twitter:creator" content="{{ . }}">
    {{ end }}
    <!-- Use Cloudinary featured image if it exists in file frontmatter -->
    {{ if isset .Params "image" }}
     <meta property="twitter:image" content="/images/{{ .Params.image }}">
    {{ else }}
      <!-- If Page Resources exist, use those instead --> 
      {{ with .Resources.GetMatch "{*.*,*.jpg,*.png,*.jpeg}" }}
        <meta property="twitter:image" content="{{ (. | fingerprint).RelPermalink }}">
      {{ else }}
        <!-- If neither featured image or Page Resources exist, use Card image from Global Resources (assets/images) -->
        {{ with resources.Get "images/card.png" }}
          <meta property="twitter:image" content="{{ (. | fingerprint).RelPermalink }}">
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  <!-- Styles -->
  {{ if .Site.IsServer }}
    <!-- Pipe Sass to CSS, include options, enable sourcemaps -->
    {{ $styles := resources.Get "scss/main.scss" | toCSS (dict "enableSourceMap" true) }}
    <!-- Load main.css-->
    <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
  {{ else }}
    {{ $styles := resources.Get "scss/main.scss" | toCSS (dict "outputStyle" "compressed") | minify }}
    <style>{{ $styles.Content | safeCSS }}</style>
  {{ end }}
  <!-- canonical link tag -->
  <link rel="canonical" href="{{ .Permalink }}">
  <!-- Icons -->
  {{ with resources.Get "images/apple-touch-icon.png" }}
    <link rel="apple-touch-icon" href="{{ (. | fingerprint).RelPermalink }}" sizes="180x180">
  {{ end }}
  {{ with resources.Get "images/favicon-32.png" }}
    <link rel="icon" href="{{ (. | fingerprint).RelPermalink }}" sizes="32x32" type="image/png">
  {{ end }}
  {{ with resources.Get "images/favicon-16.png" }}
    <link rel="icon" href="{{ (. | fingerprint).RelPermalink }}" sizes="16x16" type="image/png">
  {{ end }}
  {{ with resources.Get "images/favicon.ico" }}
    <link rel="shortcut icon" href="{{ (. | fingerprint).RelPermalink }}" type="image/x-icon">
  {{ end }}
  <!-- RSS -->
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
</head>