{{ define "main" }}

  {{ $image_alt := .Params.image_alt }}
  <div class="Lightbox">
    <div class="Lightbox-inner">
        {{/* Set variables for image data and settings */}}
        {{ $page := . }}
        {{ $params := .Params }}
        {{ $imageSrc := .Params.image }}
        {{ $imageAlt := .Params.image_alt }}
        {{ $imageRatio := "" }}
        {{ $imageWidth := "582" }}
        {{ $imageHeight := "774" }}
        {{ $imageQuality := "90" }}
        {{ $imageSm := "500" }}
        {{ $imageMd := "710" }}
        {{ $imageLg := "1000" }}
        {{ $imageXl := "1400" }}
        {{/* If browser is $sizesMinWidth or above */}}
        {{ $sizesMinWidth := "768px" }}
        {{/* Make images $sizesSize */}}
        {{ $sizesSize := "25vw" }}
        {{/* Else make images $sizesElse */}}
        {{ $sizesElse := "100vw" }}
        {{/* Options:
        1. eager - images above the fold
        2. lazy - images below the fold
        */}}
        {{ $loading := "lazy" }}
        {{/* Options:
        1. auto - decode for images above the fold
        2. async - defer decoding for lazy loaded images
        */}}
        {{ $decoding := "async" }}

        {{ $cloudinaryLQIP := "false" }}

        {{ partial "image.html"
          (dict
            "page" $page
            "params" $params
            "imageSrc" $imageSrc
            "imageAlt" $imageAlt
            "imageRatio" $imageRatio
            "imageWidth" $imageWidth
            "imageHeight" $imageHeight
            "imageQuality" $imageQuality
            "imageSm" $imageSm
            "imageMd" $imageMd
            "imageLg" $imageLg
            "imageXl" $imageXl
            "sizesMinWidth" $sizesMinWidth
            "sizesSize" $sizesSize
            "sizesElse" $sizesElse
            "decoding" $decoding
            "loading" $loading
            "cloudinaryLQIP" $cloudinaryLQIP
          )
        }}
    </div>
  </div>
{{ end }}

{{ define "footer" }}
{{ $pages := where .Site.RegularPages "Type" "post" }}
<footer class="flex justify-between gap10">
  <div class="flex flex-wrap">
    <time datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time>
    {{ $terms := (.GetTerms "tags") }}
    {{ with $terms }}<span>–</span>{{ end }}
    <ul class="flex gap10">
      {{ range $key, $value := $terms }}
        <li>
          <a href="{{ .Permalink }}">
            <span>#</span>{{ .Title | lower }}{{ if ne $key (sub (len $terms) 1) }}, {{ end }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
  <div class="flex gap10 items-end">
    {{ with $pages.Prev . }}
      <a href="{{.RelPermalink}}">Prev</a>
    {{end}}
    &middot;
    {{ with $pages.Next . }}
      <a href="{{.RelPermalink}}">Next</a>
    {{ end }}
  </div>
</footer>
{{ end }}
