/*------------------------------------*\
    #UTILITIES: GRID
\*------------------------------------*/

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: calc(var(--base-margin) *4);
	align-items: center;
}