/*------------------------------------*\
    #UTILITIES: WRAPPER
\*------------------------------------*/

.wrapper {
	padding-top: var(--base-margin);
	padding-right: var(--base-margin);
	padding-bottom: var(--base-margin);
	padding-left: var(--base-margin);
}